@page "/timetable"
@model TimeTableWebApp.Pages.TimeTableModel
@{
}
<h1>TIME TABLE</h1>
<table id="sess">
    <thead>
        <th>
            ROOM
            <br>
            (CAPACITY)
        </th>
        @foreach(var slot in Model.TimeSlots)
        {
            <th>
                SLOT @slot.Tid
                <br>
                (@slot.Description)
            </th>
        }
    </thead>
    <tbody>
        @foreach(var room in Model.Rooms)
        {
            <tr>
                <td>@room.Rname</td>
                @foreach (var slot in Model.TimeSlots)
                {
                    var session = Model.Sessions.FirstOrDefault(x => x.Tid == slot.Tid && x.Rid == room.Rid);
                    if(session != null)
                    {
                        <td>
                            <a>@session.Group.Subject.Subname</a><br>
                            <a>@session.Group.Class.Cname</a><br>
                            <a>@session.Lecturer.Lname</a><br>
                            </td>
                    }
                    else
                    {
                        <td></td>
                    }

                }
            </tr>
        }
    </tbody>
</table>

<style>
    #sess {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #sess td, #sess th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #sess tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #sess tr:hover {
            background-color: #ddd;
        }

        #sess th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #6B90DA;
            color: white;
        }
</style>
